锘縣tml,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
input,textarea{-webkit-appearance:none;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
input:focus,textarea:focus,button:focus{outline:none;}
body{line-height:1.8;color:rgba(0,0,0,0.8);font-family:Georgia,sans-serif}
article,aside,details,figcaption,figure,footer,header,main,nav,section{display:block}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
caption,th,td{font-weight:normal;text-align:left}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes:none}
blockquote{border-left:3px solid rgba(0,0,0,0.8);font-weight:400;letter-spacing:0.01rem;margin:30px 0;padding-left:20px}
a:hover,a:active{outline:0}
a img{border:0;display:block}
pre{padding:0 20px;white-space:pre-wrap;word-wrap:break-word;font:14px/22px 'courier new';position:relative;margin:40px 0;background-color:#f8f8f8}
pre:before,pre:after{display:block;padding-top:10px;padding-bottom:10px;color:#f3a500}
pre:before{content:"-- CODE --"}
pre:after{content:"-- EOF --";text-align:right}
code{padding:2px;background-color:#eee;white-space:pre-wrap;word-wrap:break-word;word-break:break-word;letter-spacing:0;font:14px/26px 'courier new';border-radius:3px}
img{max-width:100%;height:auto}
.screen-reader-text{position:absolute;left:-9999px;top:-9999px}
button::-moz-focus-inner{border:0;padding:0}
a{color:inherit;text-decoration:none}

/* the animations */
@keyframes shift-rightwards{0%{transform:translateX(-100%)}
40%{transform:translateX(0px)}
60%{transform:translateX(0px)}
100%{transform:translateX(100%)}
}@-webkit-keyframes shift-rightwards{0%{-webkit-transform:translateX(-100%)}
40%{-webkit-transform:translateX(0px)}
60%{-webkit-transform:translateX(0px)}
100%{-webkit-transform:translateX(100%)}
}@keyframes appearfromup{0%{transform:translateY(-200px)}
100%{transform:translateY(0)}
}@-webkit-keyframes appearfromup{0%{-webkit-transform:translateY(-200px)}
100%{-webkit-transform:translateY(0)}
}@keyframes topShow{0%{transform:translateX(-10px)}
30%{transform:translateX(10px)}
60%{transform:translateX(-20px)}
60%{transform:translateX(20px)}
100%{transform:translateY(0)}
}@-webkit-keyframes topShow{0%{-webkit-transform:translateX(-10px)}
30%{-webkit-transform:translateX(10px)}
60%{-webkit-transform:translateX(-20px)}
60%{-webkit-transform:translateX(20px)}
100%{-webkit-transform:translateY(0)}
}

@font-face{font-family:"FA";src:url('fonts/pure-icon.eot');src:url('fonts/pure-icon.eot?#iefix') format('embedded-opentype'),url('fonts/pure-icon.woff') format('woff'),url('fonts/pure-icon.ttf') format('truetype'),url('fonts/pure-icon.svg#FA') format('svg')}


.v-clearfix:before,.v-clearfix:after{content:"";display:table}
.v-clearfix:after{clear:both}
.v-clearfix{*zoom:1}
.v-overflowHidden{overflow:hidden}
.v-alignCenter,.v-textAlignCenter{text-align:center}
.v-displayCenter,.v-alignMiddle{margin-left:auto;margin-right:auto}
.v-positionRelative{position:relative}
.v-displayBlock{display:block}
.v-floatLeft,.v-alignLeft{float:left}
.v-floatRight,.v-alignRight{float:right}
.v-miniFont{font-size:12px}
.v-contentBox{box-sizing:content-box;-webkit-box-sizing:content-box}
.v-borderBox{box-sizing:border-box;-webkit-box-sizing:border-box}
.v-textAlignLeft{text-align:left!important}
.v-hide{display:none}
.v-muted{color:rgba(0,0,0,0.3)}
.v-positionRelative{position:relative}
.v-screenReaderText{left:-9999px;position:absolute;top:-9999px}
.v-cursorPointer{cursor:pointer}
.fontSmooth{font-family:arial,Microsoft Yahei}

.aligncenter{clear:both;display:block;margin-right:auto;margin-left:auto}
.alignleft{float:left;clear:both;display:block;margin:.5em 1em 0 0}
.alignright{float:right;clear:both;display:block;margin:1em}

/* layout */

.layoutSingleColumn{max-width:700px;margin-left:auto;margin-right:auto;width:90%}
.layoutSingleColumn--wide{max-width:1000px}
.layoutMultiColumn-header{margin:45px 0 10px;letter-spacing:0}
.layoutMultiColumn-container{margin:0 auto;max-width:1000px;width:90%;letter-spacing:-.8em}
.layoutMultiColumn{box-sizing:border-box;display:inline-block;position:relative;vertical-align:top;letter-spacing:0}
.layoutMultiColumn--primary{width:70%}
.layoutMultiColumn--secondary{width:30%}
.layoutMultiColumn--primary + .layoutMultiColumn--secondary,.layoutMultiColumn--secondary + .layoutMultiColumn--primary,.layoutMultiColumn--secondary + .layoutMultiColumn--secondary{padding-left:40px}
.layoutSingleColumn--withSidebar{letter-spacing:-0.8em;max-width:1000px}
.layoutSingleColumn--main{display:inline-block;letter-spacing:0;margin-right:50px;max-width:700px;width:calc(100% - 200px)}
.layoutSingleColumn--sidebar{display:inline-block;letter-spacing:0;vertical-align:top;width:180px}
@media screen and (max-width:640px){.layoutMultiColumn,.layoutSingleColumn--sidebar,.layoutSingleColumn--main{display:block}
.layoutMultiColumn--primary,.layoutMultiColumn--secondary,.layoutSingleColumn--sidebar,.layoutSingleColumn--main{width:100%}
.layoutMultiColumn--primary + .layoutMultiColumn--secondary,.layoutMultiColumn--secondary + .layoutMultiColumn--primary,.layoutMultiColumn--secondary + .layoutMultiColumn--secondary{padding-left:0px}
}
.layoutSingleColumn--sidebar--wide{width:240px}

.postArticle,.sidebar-wrapper{ padding-top: 50px;}


.loadingBar{background-color:#f3a500;display:none;height:2px;left:0;position:fixed;top:0;transform:translateX(100%);-webkit-transform:translateX(100%);z-index:1800;width:100%}
.is-loadingApp .loadingBar{animation:1s linear 0s normal none infinite shift-rightwards;-webkit-animation:1s linear 0s normal none infinite shift-rightwards;display:block}


.iconfont,.logo,.post-rate,.rating-stars,.rating-star i{font-family:"FA" !important;font-size:inherit;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-github:before{content:"\e614"}
.icon-light:before{content:"\e615"}
.icon-weibo:before{content:"\e616"}
.icon-twitter:before{content:"\e617"}
.icon-socialdribbblecircle:before{content:"\e600"}
.icon-playselected:before{content:"\e618"}
.icon-mail:before{content:"\e619"}
.icon-next:before{content:"\e61a"}
.icon-pause:before{content:"\e61b"}
.icon-play:before{content:"\e61c"}
.icon-404cuowu:before{content:"\e61d"}
.icon-fire:before{content:"\e601"}
.icon-sun:before{content:"\e61e"}
.icon-rss:before{content:"\e602"}
.icon-share:before{content:"\e61f"}
.icon-map:before{content:"\e620"}
.icon-right:before{content:"\e621"}
.icon-bookmark:before{content:"\e622"}
.icon-downloadcloud:before{content:"\e623"}
.icon-more:before{content:"\e624"}
.icon-link:before{content:"\e628"}
.icon-search:before{content:"\e603"}
.icon-instagram:before{content:"\e629"}
.icon-twitter1:before{content:"\e62c"}
.icon-topxiangshangjiantou:before{content:"\e62d"}
.icon-1:before{content:"\e62e"}
.icon-link1:before{content:"\e62f"}
.icon-icon-pause:before{content:"\e630"}
.icon-android:before{content:"\e631"}
.icon-qq:before{content:"\e604"}
.icon-note:before{content:"\e632"}
.icon-helpfill:before{content:"\e633"}
.icon-grid9:before{content:"\e605"}
.icon-camera:before{content:"\e634"}
.icon-weixin:before{content:"\e606"}
.icon-previous:before{content:"\e635"}
.icon-xiazai:before{content:"\e636"}
.icon-hicjchatcommonaddbtn:before{content:"\e637"}
.icon-circle-left:before{content:"\e638"}
.icon-circleright:before{content:"\e639"}
.icon-grid:before{content:"\e607"}
.icon-heart:before{content:"\e608"}
.icon-weixin1:before{content:"\e609"}
.icon-fi32:before{content:"\e60a"}
.icon-weibo1:before{content:"\e60b"}
.icon-more1:before{content:"\e60c"}
.icon-instagram1:before { content: "\e63e"; }
.logo:before{content:"\e63a\e63b\e63c\e63d"}
@media screen and (max-width:640px){.logo:before{content:"\e63a\e63b"}
}


.post-rate:before,.rating-stars:before{color:#f99b01}
.post-rate:before{content:"\e62b\e62b\e62b\e62b\e62b"}
.rating-stars:before{text-indent:0;content:"\e62a\e62a\e62a\e62a\e62a"}
.rate-holder{*display:none;height:32px;line-height:1.9}
.rating-stars{display:block;height:23px;overflow:hidden;position:absolute;left:0;top:0;z-index:10}
.rating-combo{display:block;display:inline-block;font-family:Tahoma;position:relative}
.rating-toggle{background:#eee;color:#555;padding:2px 4px;position:relative;z-index:2;font-size:12px;text-decoration:none;border-radius:3px}
.combo-open .rating-toggle{background:#eee;border-bottom:0 none;color:#333;text-decoration:none;border-radius:3px 3px 0 0;outline:none}
.piao{display:inline-block;margin:0 5px;font-size:12px;font-family:Microsoft Yahei}
.rating-combo ul{background:#eee;padding:2px;position:absolute;z-index:1;left:0;top:23px;display:none;border-radius:0 3px 3px 3px;list-style:none; width: 90px;}
.rating-combo li{line-height:1.2;list-style:none}
.rating-combo li a{cursor:pointer;display:inline-block;padding:0 5px}
.rating-combo li a:hover{background:#EEEECC}
.rating-star{display:inline-block;overflow:hidden;position:relative}
.star-0-0,.star-1-0,.star-2-0,.star-3-0,.star-4-0,.star-5-0{}
.star-0-0:before,.star-1-0:before,.star-2-0:before,.star-3-0:before,.star-4-0:before,.star-5-0:before{color:#f99b01}
.star-0-0:before{content:""}
.star-1-0:before{content:"\e62a\e62b\e62b\e62b\e62b"}
.star-2-0:before{content:"\e62a\e62a\e62b\e62b\e62b"}
.star-3-0:before{content:"\e62a\e62a\e62a\e62b\e62b"}
.star-4-0:before{content:"\e62a\e62a\e62a\e62a\e62b"}
.star-5-0:before{content:"\e62a\e62a\e62a\e62a\e62a"}
.post-rate{display:inline-block;position:relative;z-index:8}
.rating-stars{display:block;height:23px;left:0;overflow:hidden;position:absolute;top:0;z-index:10}

.logo{font-size:28px;display:inline-block;transform:translateX(-5px);-webkit-transform:translateX(-5px)}
.user-level-1:before{content:"\e626"}
.user-level-2:before{content:"\e626\e626"}
.user-level-3:before{content:"\e626\e626\e626"}
.user-level-4:before{content:"\e625"}
.user-level-5:before{content:"\e625\e626"}
.user-level-6:before{content:"\e625\e626\e626"}
.user-level-7:before{content:"\e625\e626\e626\e626"}
.user-level-top:before{content:"\e627"}

.commentNavTabs{border-top:1px #eee solid;margin:20px 0}
.commentNavTabs-item{display:inline-block;font-size:12px;padding:8px 0;text-transform:uppercase;vertical-align:top;margin-right:10px;color:rgba(0,0,0,0.6);cursor:pointer}
.commentNavTabs-item.is-active{border-top:1px solid rgba(0,0,0,0.8);margin-top:-1px;color:rgba(0,0,0,0.8);font-weight:700}

.comment-block{padding:20px 0;border-bottom:1px dotted rgba(0,0,0,0.05)}
.comment-reply-link{float:right;background-color:#f3a500;color:#fff;padding:3px 8px;font-size:12px;line-height:1;border-radius:3px;display:none}
.comment-block:hover .comment-reply-link{display:block}
@media screen and (max-width:640px){.comment-reply-link{display:block}
}.comment-info{overflow:hidden}
.comment-avatar{float:left;margin-top:2px;position:relative}
.comment-avatar .avatar{border-radius:100%;display:block}
.comment-content{margin-top:10px;font-size:14px;color:rgba(0,0,0,0.66)}
.comment-avatar .icon-heart{bottom:0;color:#ff6600;cursor:help;font-size:14px;line-height:14px;position:absolute;right:-5px}
.name,.time{font-size:14px}
.time{color:rgba(0,0,0,0.44);font-size:12px}
.comment-meta{margin-left:50px;line-height:1.4}
.user-level:before{color:#fdcc38;font-size:14px;display:inline-block;vertical-align:1px;font-family:"FA" !important;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale;letter-spacing:3px}
.user-level{margin-left:5px}
.children{margin-left:50px}
.comments-title{margin:20px 0}
.cache-avatar .avatar{border-radius:3px}
.inputGroup{border:1px rgba(0,0,0,0.15) solid;line-height:30px;width:250px;padding:0 10px;height:30px}
.comment-form-input{position:relative}
.comment-form-input label{position:absolute;background:#fff;font-size:12px;top:-6px;left:6px;padding:0 5px;line-height:1;color:rgba(0,0,0,0.3)}
#commentform p{margin-bottom:1.5rem}
#comment{width:100%;box-sizing:border-box;padding:10px;resize:none;height:160px;height:10rem}
#submit,#cancel-comment-reply-link{border:2px #f3a500 solid;background-color:#fff;color:#f3a500;padding:2px 10px;border-radius:3px;display:inline-block;font-size:12px}

.cute{
	color:#f3a500
}

.postWrapper{letter-spacing:-.8em;position:relative;padding-top:50px}
.postWrapper{}
.postMain{display:inline-block;width:calc(100% - 200px);letter-spacing:0;box-sizing:border-box;margin-right:50px;max-width:700px}
.postSupply{width:180px;display:inline-block;letter-spacing:0;vertical-align:top}

.footer{border-top:1px solid rgba(0,0,0,0.15);margin-top:30px;padding:15px 0;font-size:12px;color:rgba(0,0,0,0.44)}
.outdateNote{padding:10px 20px;background-color:#fcf8e3;border-radius:3px;color:#c09853;font-size:14px;margin:20px 0}

.entry-content p{margin-bottom:15px}
.entry-content h2{font-size:24px;margin-top:40px;position:relative;margin-bottom:20px}
.entry-content h3{color:rgba(0,0,0,0.44);font-size:20px;font-weight:normal;margin-top:40px;position:relative;margin-bottom:20px}
.entry-content h4{margin-top:30px;position:relative;margin-bottom:15px;font-size:18px}
.entry-content a{text-decoration:underline}
.entry-title{font-size:24px}
.entry-content li:before{content:"鈥";font-size:14px;padding-right:15px;box-sizing:border-box;-webkit-box-sizing:border-box;display:inline-block;margin-left:-58px;text-align:right;width:58px}
.entry-content li{margin-bottom:12px;margin-left:30px;padding-top:2px}
.entry-content ul,.entry-content ol{margin-bottom:20px}
.entry-content hr{width:14%;border:0;display:block;height:1px;background:#ddd;margin:20px auto}
.entry-content ol > li:before{content:counter(post,decimal) ".";counter-increment:post;padding-right:12px}
.entry-content ol{counter-reset:post;margin-bottom:20px}


.post--keywords{margin-top:20px}
.post--keyword{border: 1px solid #f0f0f0;border-radius: 2px;color: rgba(0, 0, 0, 0.6);display: inline-block;font-size: 12px;margin-right: 10px;padding: 4px 8px;}
.post--keyword:hover{border-color:#f3a500;color:#f3a500}	
.post--keyword sup{font-size:12px;transform:translate3D(0,-3px,0);display: inline-block;-webkit-transform:translate3D(0,-3px,0);}


.infoCard-title{font-size:18px}
.infoCard-bio{color:rgba(0,0,0,0.44);font-size:14px}
.infoCard-category{border-top:1px solid rgba(0,0,0,0.15)}
.infoCard-category:before{display:block;content:"鏈枃鍒嗙被";color:rgba(0,0,0,0.44);padding:10px 0;font-family:Microsoft Yahei}
.post--time{margin:30px 0;color:rgba(0,0,0,0.44)}
.cards-heading{border-top:1px solid rgba(0,0,0,0.15);color:rgba(0,0,0,0.3);font-size:12px;font-weight:700;letter-spacing:0.1em;margin-top:60px;padding:12px 0 28px;text-transform:uppercase}
.cards-heading:first-child{margin-top:0}


.card{color:rgba(0,0,0,0.6);display:inline-block;margin-bottom:35px;padding:0;position:relative;vertical-align:top;width:100%}
.card-imageWrapper{left:0;position:absolute}
.card-image--collection{background:none repeat scroll 0 0 #f0f0f0;border-radius:3px;height:80px;width:80px}
.card-without-image .card-content{padding-left:0}
.card-content{min-height:80px;padding-left:100px;word-wrap:break-word}
.card-name{color:rgba(0,0,0,0.8);font-size:18px;line-height:1.1;margin-bottom:4px}
.card-description{font-size:14px;line-height:1.3;margin-bottom:4px}

.hero-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 50px;
    margin-bottom: 8px;
}



.block--list{border-bottom:1px solid rgba(0,0,0,0.05);line-height:1.1;padding:50px 0;position:relative}
.block--list:last-child{border-bottom:0}
.cards-heading + .blockGroup .block--list:first-child{padding-top:0}
.block--list .block-image{display:block;float:left;height:120px;position:relative;width:140px;overflow:hidden;border:1px solid rgba(0,0,0,0.05)}
.block-image{background-color:#f0f0f0;background-origin:border-box;background-position:center center;background-size:cover;display:block}
.blockSmall .block--list{padding:30px 0}
.blockSmall .block--list .block-image{width:80px;height:70px}
.blockSmall .block--list .block-content{margin-left:105px}
.block--list .block-content{margin-left:165px}
.block--list.block--withoutImage .block-content{margin-left:0}
.block--list .block-title{font-size:24px;line-height:1.3;margin-left:-1.2px}
.block-title  a:hover{color:#f3a500}
.blockSmall .block--list .block-title{font-size:18px}
.blockSmall .block--list .block-snippet{font-size:14px}
.block--list .block-snippet{line-height:1.6;margin:5px 0 10px -0.9px;color:rgba(0,0,0,0.66)}
.block-postMeta{font-size:14px}
@media screen and (max-width:1180px){.block--list .block-image{height:100px;width:100px;float:right;margin-left:20px;position:relative;top:auto;margin-top:0}
.block--list{padding:25px 0}
.block--list .block-content,.blockSmall .block--list .block-content{margin-left:0px}
}@media screen and (max-width:640px){.block--list .block-image{height:80px;width:80px;margin-left:20px}
.block--list .block-title{font-size:18px}
.block--list .block-snippet{font-size:14px}
body{word-break:break-all}
.postMain,.postSupply{display:block;width:100%}
}

.block--placeholder.block--cardWithFullBleedImage .block-content,.block--placeholder{color:rgba(0,0,0,0.3)}
.block--placeholder.block--list .block-line{margin-top:5px}
.block--placeholder .block-line{background:none repeat scroll 0 0 rgba(0,0,0,0.05);height:15px;margin-top:10px}
.block--placeholder .block-line--short{margin-top:5px;width:30%;display:inline-block}

.blockGroup.is-empty{color:rgba(0,0,0,0.6);font-size:16px;margin-bottom:75px;padding-top:50px}
.block--beautiful.block--list .block-image{border:1px solid rgba(0,0,0,0.05);display:block;float:right;height:120px;margin:2px 0 0 20px;width:140px}
.block--beautiful.block--list{border-bottom:1px solid rgba(0,0,0,0.05);overflow:hidden;padding:25px 0 32px}
.block--beautiful.block--list .block-title{font-size:22px}
.block--beautiful.block--list .block-content{margin:4px 160px 0 0}
.postMetaInline-avatar{display:inline-block;height:40px;width:40px}
.postMetaInline-avatar .avatar{border-radius:100%}
.postMetaInline-feedSummary{color:rgba(0,0,0,0.3);display:inline-block;font-size:14px;line-height:1.4;vertical-align:top}
.block-postMeta .postMetaInline--supplemental{color:rgba(0,0,0,0.3);display:block;font-size:12px}
.block-streamText .b-image{padding-top:16px}
.block-streamText .block-title{margin-top:16px;margin-bottom:4px}
.middotDivider:after {
    content: "路";
}
.middotDivider {
    padding-left: 0.45em;
    padding-right: 0.45em;
}

.posts-load-prompt,.posts-load-disabled,.buttton--commentmore,.posts-load-num{border-radius:3px;color:rgba(0,0,0,0.44);display:inline-block;font-size:16px;margin:5px;padding:3px 18px;background-color:#fff;cursor:pointer}
.buttton--commentmore{border:1px rgba(0,0,0,0.15) solid}
.posts-load-prompt:hover,.buttton--commentmore:hover{background-color:#f3a500;border-color:#f3a500}
.posts-load-disabled{cursor:not-allowed}
.posts-load-num{cursor:default}
	
.related--posts{letter-spacing:-.8em}
.related--posts-title{letter-spacing:0;margin:20px 0 10px;color:rgba(0,0,0,0.44);font-size:18px}
.related--post{display:inline-block;width:22%;margin-right:4%;letter-spacing:0;vertical-align:top}
.block-image{display:block;height:110px}
.related--post:last-child{margin-right:0}
.related--post-title{font-size:14px;line-height:1.2;margin:10px 0;color:rgba(0,0,0,0.6)}
.related--post:hover .related--post-title{color:#f3a500}
@media screen and (max-width:768px){.related--post{width:48%;}
.related--post:nth-child(2n){margin-right:0}
}



/*
* the header style elements
*/

.metabar{color:rgba(0,0,0,0.3);height:65px;position:absolute;top:0;z-index:100;left:0;right:0}
.metabar.metabar--dark{box-shadow:0 0 1px rgba(0,0,0,0.15)}
.metabar.metabar--light:not(.metabar--affixed){box-shadow:none}
.metabar.metabar--light:not(.metabar--affixed),.metabar--light:not(.metabar--affixed) a{color:rgba(255,255,255,0.97)}
.metabar.metabar--affixed{background:rgba(255,255,255,0.97);box-shadow:0 0 1px rgba(0,0,0,0.15);position:fixed}
.metabar .metabar-text{display:inline-block;line-height:44px;margin:10px;vertical-align:top;white-space:nowrap}
.metabar--light:not(.metabar--affixed) .metabar-text,.metabar--light:not(.metabar--affixed) .site-des{color:rgba(255,255,255,0.65)}
.metabar-text{color:rgba(0,0,0,0.3);font-size:14px}
.metabar-text .avatar,.no-login{vertical-align:middle;border-radius:100%;margin-left:10px;display:inline-block}
.no-login{width:32px;height:32px;border:1px rgba(0,0,0,0.15) solid;line-height:32px}



.site-title{color:rgba(0,0,0,0.8);font-size:20px;letter-spacing:2px;line-height:65px;text-transform:uppercase}
.surface-container{padding-top:65px}

.login-social__weibo{background-color:#d04341;margin-bottom:10px}
.login-social__qq{background-color:#34c8f4}
.login-social__github{background-color:#6e6e6e}
.login-social{color:#fff;display:block;padding:8px;width:150px;border:0;cursor:pointer}

.popover--fixed{font-size:12px;overflow:hidden;padding:15px;position:fixed;z-index:900;left:20px;top:120px}
.popover--fixed-inner a{color:#ee4d50}
.popover--fixed-inner{background-color:#fff;border-radius:4px;border:1px solid rgba(0,0,0,0.15);max-width:180px;padding:5px 13px;color:rgba(0,0,0,0.44)}
@media screen and (max-width:1180px){.popover--fixed{display:none}
}.popover{font-size:12px;overflow:hidden;padding:15px;position:absolute;text-align:center;z-index:900}
.popover-inner.popover-inner--menu{padding:8px 0}
.popover-inner{background-color:#fff;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);max-width:280px;padding:14px;position:relative}
.popover--top .popover-arrow:after{box-shadow:1px 1px 1px -1px rgba(0,0,0,0.8);transform:rotate(45deg) translate(-5px,-5px)}
.popover--top .popover-arrow{bottom:1px;clip:rect(0px,18px,18px,-4px)}
.popover--bottom .popover-arrow:after{box-shadow:-1px -1px 1px -1px rgba(0,0,0,0.44);transform:rotate(45deg) translate(6px,6px)}
.popover--bottom .popover-arrow{clip:rect(0px,18px,14px,-4px);top:1px}
.popover--top .popover-arrow,.popover--bottom .popover-arrow{left:50%;margin-left:-7px}

.list--borderless.list--short .list-item{padding:5px 15px;box-sizing:border-box;-webkit-box-sizing:border-box}
.list--short .button,.list--short .list-item{line-height:1.4;text-align:left;white-space:nowrap;width:100%}
.list--borderless .list-item{border:0 none;display:block;padding:5px 0}
.list-item{border-top:1px solid rgba(255,255,255,0.2);padding:40px 0 35px}
.popover-arrow:after{box-shadow:-1px -1px 1px -1px rgba(0,0,0,0.44);transform:rotate(45deg) translate(6px,6px);-webkit-transform:rotate(45deg) translate(6px,6px)}
.popover-arrow:after{background:#fff;content:"";display:block;height:14px;width:14px}
.popover--bottom .popover-arrow{clip:rect(0px,18px,14px,-4px);top:1px}
.popover--top .popover-arrow,.popover--bottom .popover-arrow{left:50%;margin-left:-7px}
.popover--right .popover-arrow{left:100%;margin-left:-40px;top:1px}
.popover-arrow{position:absolute}
.popover--userActions.popover--globalNav .list-item > .button--link{padding:7px 25px}


.butterBar{left:50%;margin-left:-320px;max-width:640px;position:fixed;text-align:center;top:0;width:58%;z-index:800}
.butterBar-message{background:rgba(255,255,255,0.97);border-bottom-left-radius:4px;border-bottom-right-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);display:inline-block;font-size:14px;margin-bottom:0;padding:12px 25px}
.butterBar--error .butterBar-message {background-color:#cc5454;color: #fff;}
.link--butter{color:#ee4d50;text-decoration:underline}

@media screen and (max-width:640px){.butterBar {
    margin-left: 5%;
    width: 90%;left:0
}
}

.page-title{font-size:32px}

.textInput--singleLine{border:1px solid rgba(0,0,0,0.15);border-radius:4px;height:32px;overflow:hidden;white-space:nowrap;width:220px;box-sizing:border-box;-webkit-box-sizing:border-box;font-family:fatesinger;padding:0 10px}
.list-item--padded{border-bottom:1px solid rgba(0,0,0,0.05);overflow:hidden;padding-bottom:36px;padding-top:30px;position:relative}
.list-item--padded:last-child{border-bottom:0}
.list-itemInfo{float:left;width:60%}
.list-itemTitle{color:rgba(0,0,0,0.8);font-size:18px}
.list-itemInput{background-color:#fff;border:0;display:block;font-size:16px;width:340px;font-family:fatesinger}
.list-itemActions{margin-top:-19px;position:absolute;right:0;top:50%}

.button{background-color:#fff;border:1px rgba(0,0,0,0.15) solid;color:rgba(0,0,0,0.3);padding:6px 8px;border-radius:3px;font-size:12px;cursor:pointer;font-family:pure basic,Microsoft JhengHei;line-height:1.6}
.button i{font-size:inherit}
.button:disabled{cursor:not-allowed}
.button--recommend{border:1px #f3a500 solid;color:#f3a500;display:inline-block;font-size:14px;padding:3px 12px;border-radius:3px}
.button--cute{border-color:#f3a500;color:#f3a500}
.button--primary{padding:6px 12px}
.button--chromeless{background-color:#fff;border:0;}
.button--chromeless:hover{color:rgba(0,0,0,0.6)}
.button-share{padding:0}
.button-share .iconfont{font-size:16px;margin-right:3px}
.button--light{background-color:rgba(87,173,104,0.8);border-color:rgba(0,0,0,0);color:#fff;border-radius:999em;vertical-align:bottom}
.button--vertical{border:0 none;padding:0;text-align:center}
.button--vertical > .iconfont{border:1px solid rgba(0,0,0,0.15);border-radius:999em;box-sizing:border-box;display:block;height:38px;margin:0 auto;width:38px;line-height:34px;font-size:20px}
.button--circle{border-radius:100%;width:32px;height:32px;vertical-align:middle}
.button--vertical > .icon-bookmark{font-size:16px}
.is-bookmarked .icon-bookmark{color:#f3a500}



.hero--profile{padding:0 0 30px;text-align:center}
.hero--profile .hero-avatar .avatar{border-radius:5px;display:inline-block;height:120px;margin-bottom:20px;margin-top:60px;width:120px}
.hero-title i{font-size:50px}


.entry-header{margin-bottom:20px}

.wp-smiley{width:16px;height:16px;vertical-align:middle}
.add-smily{background:#fff;border:0;cursor:pointer}
.add-smily .wp-smiley{width:24px;height:24px;margin-right:5px}

/* back to top*/

#backtoTop{background-color:#000;bottom:10%;height:48px;position:fixed;right:-43px;width:48px;color:#fff}
#backtoTop.button--show,#backtoTop:hover{right:0px}
#backtoTop.button--show{animation:.3s linear 0s normal none topShow;-webkit-animation:.3s linear 0s normal none topShow}
#backtoTopCanvas{font-size:16px;height:48px;line-height:48px;position:absolute;text-align:center;top:0;width:48px;cursor:pointer}
#backtoTopCanvas:before{font-family:FA;font-size:26px}
.button--show #backtoTopCanvas:hover:before{content:"\e62d"}
.sb0:before{content:"\e613"}
.sb1:before{content:"\e60d"}
.sb2:before{content:"\e60e"}
.sb3:before{content:"\e60f"}
.sb4:before{content:"\e610"}
.sb5:before{content:"\e611"}
.sb6:before{content:"\e612"}

.phpto--grid{letter-spacing:-0.8em}
.photograph{margin-bottom:40px;position:relative;overflow:hidden}
.phpto--grid .photograph{letter-spacing:0;width:48%;margin-right:4%;display:inline-block}
.phpto--grid .photograph:nth-child(2n){margin-right:0}
@media screen and (max-width:480px){.phpto--grid .photograph{width:100%;display:block}
}.photo-message{margin:10px;font-style:italic}

.responsesWrapper{padding:20px 0}
.postFooter-ad,.commentnavholder{margin-top:20px;margin-bottom:20px}
.button--link{display:block}
.list--large{width:200px}

.tag-list-wrap{overflow:hidden;padding:20px 0;border-bottom:1px #eee dotted}
.tag-list-title{font-size:24px;color:rgba(0,0,0,0.44);width:100px;float:left;margin-top:-20px;font-style:italic}
.tag-list-content{margin-left:100px}
.list-tag{margin-right:10px;font-size:14px;position:relative}
.list-tag.hot-tag:after{content:"H";background-color:#ff5e52;color:#fff;display:inline-block;padding:2px;line-height:1;font-size:12px;margin-left:3px;border-radius:2px}
.tag-nav-item{display:inline-block;background-color:#f2f4f6;margin:3px;border-radius:2px;width:30px;height:30px;line-height:30px;text-align:center;border:1px solid #eee}
.tag-nav-item.unclick{background-color:#fff;cursor:not-allowed}

.widget{margin-bottom:40px}
.widget-title{border-top:1px solid rgba(0,0,0,0.05)}
.js-sidebarWrapper{padding-top:50px}
.widget-title .widget-title-inner{border-top:1px solid rgba(0,0,0,0.44);display:inline-block;font-size:12px;margin-top:-1px;padding-top:5px}
.page-header{padding-bottom:20px;letter-spacing:0}
.widget-title + .list--withIcon{border-top:0}
.widget-title .tag-items{padding:20px 0;border:0}
.tag-items{padding:30px 0;border-top:1px solid rgba(0,0,0,0.05)}
.tag-item{display:inline-block;font-size:14px;margin:0 5px 5px 0;padding:1px 8px;background-color:#f5f5f5;border-radius:2px;position:relative;overflow:hidden}
.tag-item span{position:relative}
.tag-item:before{position:absolute;top:0;left:0;right:0;bottom:0;content:"";background-color:#fff;transition:0.5s;transform:translateY(-100%);-webkit-transform:translateY(-100%);-webkit-transform:0.5s}
.tag-item:hover:before{transform:translateY(0);-webkit-transform:translateY(0)}
.tag-item.hot span:after{content:"H";background-color:#ff5e52;color:#fff;display:inline-block;padding:2px;line-height:1;font-size:12px;margin-left:3px;border-radius:2px}



.list--withIcon{border-top:1px solid rgba(0,0,0,0.05);margin-bottom:40px;line-height:1.4}
.list--withIcon .list-item{margin:18px 0 0;padding:0}
.list--withIcon .list-itemInfo{border-bottom:1px solid rgba(0,0,0,0.05);display:block;float:none;margin-left:50px;padding-bottom:18px;width:auto}
.list--withIcon .list-itemTitle{color:rgba(0,0,0,0.8);font-size:14px;font-weight:400;max-width:96%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.list-itemDescription{color:rgba(0,0,0,0.3);font-size:12px;margin-bottom:0;margin-right:20px}
.list--withIcon .button--circle{background-color:rgba(255,255,255,0.97);border:1px solid rgba(0,0,0,0.05);float:left;height:36px;line-height:1;width:36px;border-radius:100%;text-align:center;margin-top:3px}
.list--withIcon .list-index{color:rgba(0,0,0,0.8);font-size:12px;font-weight:700}
.list--withIcon  .icon-bookmark{color:#f3a500}
.list--withIcon .list-title{border-top:1px solid rgba(0,0,0,0.44);display:inline-block;margin-top:-1px;padding-top:5px;font-size:12px}
.list-title--link{color:rgba(0,0,0,0.3);float:right;padding-top:5px;font-size:12px}
.list--withIcon .list-item--status{padding:30px;margin:0 auto;text-align:center;font-size:14px;line-height:1.2}


.block-list--collection{letter-spacing:-.9em;padding:50px 0}
.block--collection{border-radius:4px;box-sizing:border-box;display:inline-block;margin-bottom:2%;margin-left:2%;position:relative;text-align:center;width:23.5%;letter-spacing:0;overflow:hidden;position:relative}
.block--collection time{background-color:rgba(87,173,104,0.8);border-radius:999em;bottom:30px;color:#fff;font-size:12px;left:50%;margin-left:-60px;padding:5px;position:absolute;width:110px}
.block--collection:nth-child(4n+1){margin-left:0}
.block--collection img{border-radius:4px;width:100%}
.postFooter-collection{font-size:18px;color:rgba(0,0,0,0.8);font-weight:700}

/*-----------------*/
/***** Apollo *****/
/*-----------------*/

.widget .link-item{width:36px;margin:3px}
.widget .link-item .avatar{height:36px;width:36px}
.widget .sitename{display:none}
.link-items{padding:10px 0}
.link-title{font-size:18px;color:rgba(0,0,0,0.44);margin:40px 0 10px}
.link-description{font-size:12px;margin-bottom:10px;font-style:italic;color:rgba(0,0,0,0.3)}
.link-item{display:inline-block;margin:10px;width:64px;vertical-align:top}
.link-item-inner{display:block;overflow:hidden;position:relative;text-decoration:none!important}
.link-item .avatar{border-radius:5px;width:64px;height:64px}
.sitename{font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block}
.effect-apollo::before{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.5);content:'';-webkit-transition:-webkit-transform 0.6s;transition:transform 0.6s;-webkit-transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0)}
.effect-apollo:hover::before{-webkit-transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0)}


.supplementalPostContent{padding:20px 0}
.supplementalPostContent .button--share{margin-right:10px}
.infoCard-emailFollow,.infoCard.is-emailFollowActive .infoCard-showSubscribeForm{display:none}
.textInput{border:1px solid rgba(0,0,0,0.15);padding:6px 15px;font-size:12px;background-color:#fff;appearance:none;border-radius:4px;font-family:pure basic,Microsoft JhengHei;line-height:1.6;padding:6px 15px;vertical-align:top;height:19px}
.textInput--jumbo{font-family:pure basic,Microsoft JhengHei;font-size:50px;height:70px;padding:0;width:100%}
.textInput--borderless{border:0 none}

.weibo-lists{font-size:14px;border-top:1px rgba(0,0,0,0.05) dotted;color:rgba(0,0,0,0.6)}
.weibo-item{padding:5px 0;}
.weibo-item i{font-size:20px;margin-right:3px;color:#d04341;display:inline-block;vertical-align:middle}
.weibo-item-pic{display:inline-block;margin-right:5px}
.weibo-time{margin-left:5px;font-size:12px}

.interstitial{border-top:1px solid rgba(0,0,0,0.05);position:relative;min-height:140px;padding:35px 0;background-size:100%;background-repeat:no-repeat;background-position:bottom;font-size:14px}
.interstitial p{margin-bottom:10px}
.interstitial .button{margin-left:13px;border-color:#f3a500;background-color:#f3a500;color:#fff;padding:1px 8px}


.radio:checked + .radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
.radioInput{background-color:#fff;border:1px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:16px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:16px;line-height:1}
.label--radio{color:rgba(0,0,0,0.8);margin:5px 0}
.label--block{display:block;margin:20px 0 4px}


.button--circle{border-radius:100%;width:32px;height:32px;vertical-align:middle}
.social-network{font-size:19px;color:rgba(0,0,0,0.66)}
.social-network a{margin-right:6px;display:inline-block}
.social-network  .icon-weibo1:hover{color:#d04341}
.social-network  .icon-twitter1:hover{color:#4099ff}
.social-network  .icon-instagram1:hover{color:#3b5998}
.social-network  .icon-fi32:hover{color:#dd4b39}
.social-network  .icon-rss:hover{color:#ff4500}
.social-network  .icon-weixin1:hover{color:#6bb315}
.social-network  .icon-github:hover{color:rgba(0,0,0,0.8)}

.phpto--grid{letter-spacing:-0.8em}
.photograph{margin-bottom:40px;position:relative;overflow:hidden}
.phpto--grid .photograph{letter-spacing:0;width:48%;margin-right:4%;display:inline-block}
.phpto--grid .photograph:nth-child(2n){margin-right:0}
@media screen and (max-width:480px){.phpto--grid .photograph{width:100%;display:block}
}.photo-message{margin:10px;font-style:italic}


.new--comment .comment-block,.appearfromup{animation:.3s linear 0s normal none appearfromup;-webkit-animation:.3s linear 0s normal none appearfromup;}
.js-action[data-action=imageZoomIn]{cursor:zoom-in}
.splendid-wrap{z-index:999;position:fixed;left:0;top:0;bottom:0;right:0;background-color: rgba(255, 255, 255, 0.97);cursor:zoom-out}
.splendid-image{display:block;cursor:zoom-out;z-index:1000;position:fixed;left:50%;top:50%}
.blockDivider{border-top:1px solid rgba(0,0,0,0.15);line-height:1}
.post-bottom-notice{background-color:#f8f8f8;padding:5px 15px;font-size:14px;margin-bottom:20px}

.site-info{position:relative}
.site-footer-logo{border:1px rgba(0, 0, 0, 0.15) solid;border-radius:100%;height:24px;width:24px;position:absolute;top:-28px;left:20px}
.footer:hover .site-footer-logo{border-color:#f3a500}

.hairline{font-size:50px;padding:40px 0}

.novel-list{letter-spacing:-.9em;margin:20px 0}
.novel-list-item{letter-spacing:0;display:inline-block;width:50%;box-sizing:border-box;-webkit-box-sizing:border-box;margin:0!important;padding:0!important;vertical-align:top;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.novel-list-item:nth-child(2n){padding-left:20px!important}
.novel-list-item:before{content:""!important;display:none!important}
.novel-list-item a{text-decoration:none}
.novel-list-itemInfo{border-bottom:1px rgba(0,0,0,0.05) solid;padding:10px 0}
.novel-list--borderedTop{border-top:1px solid rgba(0,0,0,0.15);padding-top:11px}
.novel-list-title--accent{border-top:1px solid rgba(0,0,0,0.44);margin-top:-12px;padding-top:12px;line-height:1;font-size:12px;font-weight:700}