html{
    _background: #fff;
    font-family: 'Open Sans', "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
}
a:focus{
	box-shadow:none
}
.pure-wrap{
	position:relative
}

.pure-wrap:before,
.pure-wrap:after {
    display: table;
    content: ""
}
.pure-help-li{
	font-size:16px;padding:30px;border-bottom:1px #eee dotted
}
.pure-help-li a{
	text-decoration:none
}
.pure-help-title{
	font-size:24px;font-family:Microsoft Yahei;font-weight:300;color:#626773
}
.pure-wrap:after {
    clear: both;
}

#pure-form{
    padding:30px;
    min-height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.leftpanel .nav {
    margin: 0;
    padding: 0 20px;
}

.leftpanel .nav > li {  
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    position: relative;
}

.leftpanel .nav > li.active {
    _border-top: 0;
    _margin-right: -1px;
    _margin-left: -1px;
}

.leftpanel .nav > li.active + li {
    border-top: 0;
}

.leftpanel .nav > li > a {
    color: #626773;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    padding: 15px 25px;
    display: block;
    text-decoration: none;
}

.leftpanel .nav > li > a:hover,
.leftpanel .nav > li > a:focus,
.leftpanel .nav > li > a:active {
    color: #0074a2;
}
.leftpanel .nav > li:hover > a i,
.leftpanel .nav > li:focus > a i,
.leftpanel .nav > li:active > a i{
    color: #0074a2;
}
.leftpanel .nav > li.active > a,
.leftpanel .nav > li.active > a:hover {
   background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #0074a2;
}

.leftpanel .nav > li > a i {
    width: 16px;
    margin-right: 5px;
    color: #626773;
    font-size: 15px;
    top: 1px;
    text-align: center;
}

.leftpanel .nav > li.active > a i {
    color: #0074a2;
}

.dashicons-basic:before{
    content: "\f108"
}

.dashicons-slider:before{
    content: "\f232";
}

.dashicons-feature:before{
    content: "\f475"
}

.dashicons-interface:before{
    content: "\f100"
}

.dashicons-social-contact:before{
    content: "\f304"
}

.dashicons-save:before{
    content: "\f480"
}


.pure-setting-radio{
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

.pure-setting-radio .dashicons-before{
    width: 18px;
    height: 18px;
    border:1px solid #d3cfc8;
    border-radius: 50%;

    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.pure-setting-radio.checked .dashicons-before:before{
    content: "\f147";
    background-color: #0074a2;
    color: #fff;
    border-radius: 50%;
    top: -1px;
    left: -1px;
    text-indent: -1px;
    position: absolute;
    -webkit-animation: loader-spinner 300ms linear 1;
    -moz-animation: loader-spinner 300ms linear 1;
    animation: loader-spinner 300ms linear 1;
}

.leftpanel .nav > li.disabled{
    position: absolute;
    bottom: 0;
    width: 230px;
    border-top: 1px solid #e7e7e7;
}

.wp-core-ui .button-primary{
    color: #fff;
}

.wp-core-ui .button-primary{
    border: none;
    border-radius: 0;
}

.wp-core-ui .button, .wp-core-ui .button-secondary,
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea{
    border-color: #e6eaf2;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
    color: #626773;
    border-radius: 3px;
}

input[type=checkbox]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, select:focus, textarea:focus {
    border-color: #cfd6e5;
    box-shadow: none;
}

.form-table th{
    width: 140px;
    padding:0;
    
}
.form-table td{padding: 0 0 40px 0}
input.large-text, textarea.large-text{width:100%}
textarea.code{line-height: 1.4;padding: 2%;}
.form-table tr th label, .form-table tr td label{color: #455473;font-weight: normal;font-size:16px}
.pure-setting-switch{
    display: inline-block;
    height: 18px;
    width: 42px;
    border: 1px solid #cfd6e5;
    border-radius: 9px;
    background: #fff;
    position: relative;
}

.pure-setting-switch i{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #cfd6e5;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.pure-setting-switch.active i{
    left: 26px;
}

.pure-setting-switch i{
    -webkit-animation: loader-spinner 400ms linear 1;
    -moz-animation: loader-spinner 400ms linear 1;
    animation: loader-spinner 400ms linear 1;
}

.pure-setting-switch.active i:after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #0074a2;
    background-color: #0074a2;
    left: -1px;
    top: -1px;

    -webkit-animation: loader-spinner 400ms linear 1;
    -moz-animation: loader-spinner 400ms linear 1;
    animation: loader-spinner 400ms linear 1;
}

@-webkit-keyframes loader-spinner {
    0%   {
        -webkit-transform: scale(0);
    }
    80%{
        -webkit-transform: scale(1.2);
    }
    100%{
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes loader-spinner {
    0%   {
        -moz-transform: scale(0);
    }
    80%{
        -moz-transform: scale(1.2);
    }
    100%{
        -moz-transform: scale(1);
    }
}

@keyframes loader-spinner {
    0%   {
        transform: scale(0);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


/**
 * Loading
 *
 * =============================================
 */
#progress{
    position: fixed;
    top: 32px;
    left: 50%;
    z-index: 9999;
    display: none;
    color: #fff;
    padding: 10px 25px;
    background: #428bca;
}

#progress.success{
    background-color: #5cb85c;
}

#progress.error{
    background-color: #d9534f;
}

#progress .dashicons-before,
#progress .spinner-text{
    display: inline-block;
}

#progress.success .dashicons-before,
#progress.error .dashicons-before{
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

#progress .dashicons-before{
    margin-right: 3px;
}

#progress .dashicons-before:before{
    content: "\f113"
}

#progress.success .dashicons-before:before{
    content: "\f147"
}

#progress.error .dashicons-before:before{
    content: "\f335"
}

#progress .dashicons-before{
    -webkit-animation: progress-spinner 600ms linear infinite;
    -moz-animation: progress-spinner 600ms linear infinite;
    animation: progress-spinner 600ms linear infinite;
}

@-webkit-keyframes progress-spinner {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes progress-spinner {
    0%   { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}

@keyframes progress-spinner {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

#footer-left{
    display: none;
}

.pure-save{
    padding-top: 60px;
}

#pure-save{
    float: right;
    color: rgb(255, 255, 255);
    background-color: #737f99;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-radius: 3px;
    font-family: 'Open Sans', "Hiragino Sans GB", STXiHei, "Microsoft YaHei", SimSun, sans-serif;
}
#pure-save:hover {
    background: #0074a2
}
.spangaps{padding-left:20px}
.sidepos,.sidepos span{display:block}
.sidepos{float:left;margin-right:15px;color:#ddd}
.sidepos:hover{border-color:#38a1dc}
.sidepos.current{color:#0074a2}
.sidepos span:before{content:"\f163";font-size:36px;height:36px;width:36px}
.sidepos-1 span:before{content:'\f509'}
.sidepos-2 span:before{content:"\f164";}
.wp-core-ui .button.media-button-select{
    background: #2ea2cc;
    border-color: #0074a2;
    color: #fff;
}